@import '@unocss/reset/tailwind.css';
@unocss all;

* {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #54bb3a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a03fd8;
}